In [3]:
import sys
sys.path.append("..")

import numpy as np

from utils.models import *
from utils.dataloaders import *

In [4]:
dataset = SyntheticDataset('cpu')

In [9]:
train, test = dataset.createData()
train

             x1        x2  y  z
0      0.537705  1.402158  1  0
1      0.500889 -0.295727  0  0
2     -0.135582  0.350371  0  1
3      0.298502  0.549224  1  0
4      0.872469  0.235123  1  1
...         ...       ... .. ..
15995 -0.185150 -0.601240  0  1
15996 -0.239472 -0.051490  0  1
15997  2.157198 -0.534515  0  0
15998 -0.823269  0.104079  0  0
15999 -0.489777 -0.623418  0  0

[16000 rows x 4 columns]

In [10]:
train_tensors, test_tensors = dataset.get_dataset_in_tensor()
X_train, Y_train, Z_train, XZ_train = train_tensors
X_test, Y_test, Z_test, XZ_test = test_tensors